.content-allproducts {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
    transition: 0.3s;
}

.content-allproducts:hover {
    transform: scale(1.1);
}

.content-allproducts img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-allproducts h3 {
    text-decoration: none;
    transition: .2s;
}

@media(max-width:767px) {
    .slogan {
        margin-top: 180px !important;
    }
}